body {
  font-family: sans-serif;
  background-color: #673f83;
}

.IconSvg {
  margin: auto;
  height: 70px;
  width: 70px;
  fill: #673f83;
}

.AddTodo_container,
.TodoList_container {
  margin: 40px 20px 0px 20px;
}

.AddTodo {
  width: 100%;
  height: 130px;
  font-size: 50pt;
  color: #c7edee;
  box-sizing: border-box;
  border: 0;
  outline: none;
  padding-left: 30px;
  background-color: #725387;
}

.FilterLink {
  margin-left: 20px;
  color: #9292b2;
  font-size: 45pt;
}

.FilterLink span {
  color: #c7edee;
}

.FilterLink a {
  color: #9292b2;
  text-decoration: none;
}

.TodoItem {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.TodoItem_ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
  list-style: none;
  border-top: 2px solid #9292b2;
}

.TodoItem_li {
  border-bottom: 2px solid #9292b2;
}


.ToogleTodoButton,
.RemoveTodoButton,
.ToggleEditButton,
.EditTodo_button {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  height: 100px;
  width: 100px;
  font-size: 40pt;
  border: 0;
  border-radius: 100px;
  background: #9292b2;;
}

.ToogleTodoButton_container {
  display: flex;
}

.ToggleEditButton {
  margin-right: 20px;
  margin-left: 20px;
}

.TextTodo_active {
  margin: auto auto auto 20px;
  font-size: 40pt;
  color: #c7edee;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.TextTodo_completed {
  margin: auto auto auto 20px;
  font-size: 40pt;
  color: #9292b2;
  text-decoration: line-through;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ButtonEditAndRemove_container {
  display: flex;
}

.EditTodo_container {
  display: flex;
  justify-content: space-between;
}

.EditTodo_input {
  margin: 20px 0;
  width: 100%;
  font-size: 45pt;
  color: #c7edee;
  box-sizing: border-box;
  border: 0;
  outline: none;
  padding-left: 15px;
  background-color: transparent;
}

.EditTodo_button {
  margin: 20px 0 20px 20px;
}